RewriteEngine On

# Block access to hidden files and directories
RewriteRule "(^|/)\." - [F]

# Block access to directory listing
Options All -Indexes

# Remove index.php from URL
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php/$1 [L]

# Exclude access to some files and directories
RewriteCond $1 !^(index\.php|resources|simpanrindu|login|robots\.txt)
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php/$1 [L,QSA]